* {
  box-sizing: border-box;
}

body {
  background-color: #9b59b6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainclass {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0,0,0);
  width: auto;
  max-width: 100%;
  margin: 100px;
}

.formclass {
  padding: 30px 40px;
}

.control {
  display: block;
  margin-bottom: 10px;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
}

.btn {
  background-color: #9a44be;
  border: 2px solid #9a44be;
  display: block;
  width: 100%;
  color: white;
  padding: 4px;
  font-weight: bold;
}

span {
  color: red;
  display: none;
}

input:invalid[focused= "true"] ~ span {
  display: block;
}
